[core]
	autocrlf = input
[user]
	email = morin@iternio.com
	name = Martin Morin
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[difftool "vimdiff"]
	cmd = vim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd l | 1\"
